In [37]:
import pandas as pd
import numpy as np
import plotly.express as px
from urllib.request import urlopen
import json
import matplotlib.pyplot as plt

In [38]:
df1 = pd.read_csv('vendor_options.csv')
df2 = pd.read_csv('vendor_trades.csv')
df3 = pd.read_csv('Vendor Filter.csv')

In [39]:
df1['online'] = df1['online'].astype("string")

In [4]:
df1.columns = ['category', 'Contract Item', 'v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9',
       'v10', 'v11', 'v12', 'v13', 'v14', 'v15']

In [5]:
df1 = df1[['category', 'Contract Item']]

In [6]:
df3.columns

Index(['id', 'city', 'state', 'zip', 'date', 'category', 'status',
       'coverage_zones', 'application_received', 'preferred_vendor',
       'portal_status'],
      dtype='object')

In [7]:
df3.columns = ['vendor', 'city', 'state', 'zip', 'date', 'category', 'status',
       'coverage_zones', 'application_received', 'preferred_vendor',
       'portal_status']

In [8]:
df2.head()

   id  category                options   vendor
0   9         2                 v9,v10  5783925
1  13         2  v1,v3,v4,v5,v8,v9,v10  5783911
2  14         3      v1,v2,v3,v4,v5,v6  5783911
3  34         4                  v1,v2  5783914
4  38         1               v1,v2,v3  5783955

In [9]:
df4 = pd.merge(df2, df1, how = 'left', on = 'category')

In [10]:
df4.head()

   id  category                options   vendor Contract Item
0   9         2                 v9,v10  5783925    Appliances
1  13         2  v1,v3,v4,v5,v8,v9,v10  5783911    Appliances
2  14         3      v1,v2,v3,v4,v5,v6  5783911      Plumbing
3  34         4                  v1,v2  5783914    Electrical
4  38         1               v1,v2,v3  5783955          HVAC

In [11]:
df4 = df4[['vendor', 'Contract Item']]

In [12]:
df4 = df4.groupby(['vendor'])['Contract Item'].apply(', '.join).reset_index()

In [13]:
df3[['vendor']] = df3[['vendor']].apply(pd.to_numeric, errors='coerce')

In [14]:
df_merge = pd.merge(df3, df4, how = 'left', on = 'vendor')

In [15]:
df_merge= df_merge[df_merge['city']!='test']

In [16]:
df_merge = df_merge[['vendor', 'city', 'state', 'zip', 'date', 'Contract Item', 'status',
       'coverage_zones', 'application_received', 'preferred_vendor',
       'portal_status',]]

In [17]:
df_merge = df_merge[df_merge['vendor'].isnull() == False]

In [18]:
df_merge = df_merge[df_merge['Contract Item'].isnull()== False]

In [19]:
df_merge = df_merge[df_merge['state'].isnull()== False]

In [20]:
df_merge = df_merge[df_merge['zip'].isnull()==False]

In [21]:
df_merge[['date']] = df_merge[['date']].apply(pd.to_datetime)

In [22]:
df_merge[['date']] = df_merge[['date']].apply(pd.to_datetime)

In [23]:
df_merge['state'] = df_merge['state'].replace(['Texas'],'TX')
df_merge['state'] = df_merge['state'].replace(['Al'],'AL')
df_merge['state'] = df_merge['state'].replace(['la'],'LA')

In [24]:
df_merge.head()

,vendor,city,state,zip,date,Contract Item,status,coverage_zones,application_received,preferred_vendor,portal_status
1,5783913.0,Huntsville,AL,35810,2016-12-14 04:04:00,"Appliances, Garbage Disposal, HVAC",Inactive,35810 \r\n\r\nGOES TO BIRMINGHAM,No,No,Inactive
2,5783914.0,Glendale,AZ,85318,2016-12-14 19:09:00,"Electrical, HVAC",Inactive,85318,No,No,Active
3,5783915.0,Mt Pleasent,PA,15666,2016-12-14 20:35:00,"HVAC, Appliances, Plumbing, Electrical, Garage...",Inactive,15666,No,No,Active
4,5783916.0,Melbourne,FL,32935,2016-12-14 21:08:00,"Appliances, Garbage Disposal, HVAC",Inactive,32935,No,No,Active
5,5783917.0,Virginia Beach,VA,23452,2016-12-14 21:22:00,"HVAC, Appliances, Garbage Disposal",Inactive,23452,No,No,Inactive